body {
    font-size: 14px;
    background: #FAFBFE;
    line-height: 1.5rem;
}
/*----- Navbar Css -----*/
.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.21);
    min-height: 4.5rem;
    z-index: 9999;
}
/*----- Navbar Css -----*/

/*----- Main Banner Css -----*/
section.main-banner {
    height: calc(100vh - 5.5rem);
    background: url("./../images/iot.jpg");
    margin-top: 6rem;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.name-of-the-project * {
    vertical-align: middle;
}
.name-of-the-project .active {
    transform: scale(1.1);
    transition: 0.5s ease all;
}
.main-banner .statistics {
    bottom: 10rem;
    right: 5rem;
    width: 50vw;
}
.technology-updates a:hover {
    color: #fff;
}
.modal-image-video.active {
    display: block;
}
.modal-image-video.active  > div > * {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.modal-image-video > div {
    height: 100%;
}
.name-of-the-project .video {
    width: 150px;
    height: 150px;
    display: inline-block;
    background: #ccc;
    line-height: 150px;
    border-radius: 4px;
}
.modal-image-video .close-modal {
    color: #000;
    cursor: pointer;
    position: fixed;
    left: calc(90% - 15px);
    font-size: 26px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    top: calc(10% - 15px);
}
body.modal-shown:before {
    content: '';
    position: fixed;
    z-index: 99991;
    top: 0;
    background: rgba(0, 0, 0, 0.84);
    width: 100%;
    height: 100%;
    left: 0;
}
.modal-image-video {
    display: none;
    position: fixed;
    top: 10%;
    z-index: 99992;
    width: 80%;
    height: 80%;
    left: 10%;
}
.main-banner .statistics h3 {
    display: inline-block;
    font-size: 1.5rem;
}
/*----- Main Banner Css -----*/
/*----- Our Innovations Css -----*/
.our-innovations {
    font-size: 1rem;
    line-height: 1.75rem;
}
.our-innovations .owl-next, .our-innovations .owl-prev {
    position: absolute;
    background: #fff !important;
    width: 100px;
    line-height: 18px;
    height: 60px;
    left: calc(50% - 120px);
    bottom: 0;
}
.our-innovations .owl-prev {
    left: calc(50% - 220px);
}
.our-innovations .owl-next span,
.our-innovations .owl-prev span {
    display: block;
    font-size: 40px;
}
.our-innovations .owl-nav {
    bottom: 40px;
}
.our-innovations .products {
    height: 500px !important;
    background: #f1f1f1;
}
.our-innovations li > .row {
    min-height: 80vh;
}
.our-innovations ul {
    list-style: none;
    padding: 0;
}

.our-innovations .card {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.28);
    border: none;
    border-radius: 0;
}

.our-innovations .date {
    font-size: 0.8rem;
}
/*----- Our Innovations Css -----*/
/*----- Project List -----*/

.project-list {
    line-height: 1.3rem;
    font-size: 0.850rem;
}

.project-list img {
    height: 10rem;
}
/*----- Project List -----*/
/*----- Domain Work -----*/

.domain-work .our-domain-img  {
    height: 15rem;
    color: #fff;
    background: #ccc;;
}

.domain-work h4 {
    font-size: 1.2rem;
}

.domain-work .our-domain-img.solar-panel {
    height: 31rem;
    background: url("../images/solar_panel.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}
.domain-work .energy {
    background: url("../images/windmills.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}

.domain-work .home-building {
    background: url("../images/HomeBuildingAutomation.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}

.domain-work .connectivity {
    background: url("../images/iot.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}

.domain-work .consumer-electronics {
    background: url("../images/consumerelectronics.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}
/*----- Domain Work -----*/
/*----- Technology Updates -----*/

.technology-updates h4 {
    font-size: 1.2rem;
}
.technology-updates input {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
    border: none;
    margin-right: 5px;
    font-size: 0.875rem;
}

.technology-updates button {
    background: #FFA500;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}
.technology-updates .card {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    border-radius: 0;
    line-height: 1.75rem;
    overflow: hidden;

}
.technology-updates hr {
    border: 1px solid #ccc;
}
.technology-updates .card:hover {
    background: linear-gradient(0deg,rgba(33,150,243,0.7),rgba(33, 150, 243, 0.7)),url(../images/iot.jpg);
    color: #fff;
}
/*----- Technology Updates -----*/

/*---- Footer Css -----*/
footer ul {
    list-style: none;
}
footer h1 {
    font-size: 1.5rem;
}
footer a {
    color: #8e8e8e;
}
footer a:hover {
    color: #000;
    text-decoration: none;
}
footer .contact {
    color: #8e8e8e;
}

footer .social-links a {
    width: 30px;
    height: 30px;
    background: #efefef;
}
footer .social-links a:hover {
    background: #3979F3;
    color: #fff;
}
/*---- Footer Css -----*/

/*---- Domain works Banner ------*/
.main-banner.domain-works {
    height: 75vh;
}
@media(min-width:769px) {
    .domain-navbar.navbar-light .navbar-nav .nav-link {
        color: #fff;
    }
    .navbar-light.domain-navbar .navbar-brand {
        color: #fff;
    }
    #myMenu li:first-of-type {
        margin-top: -100px;
        margin-bottom: 50px;
    }
}

.fp-tableCell {
    vertical-align: initial;
}
.domain-footer {
    margin-top: 50px;
}
@media(min-width:769px) {
    .domain-navbar {
        background-color: transparent !important;
        box-shadow: none;
    }
    #fullpage .project-list .container {
        width: auto !important;
    }
    #fullpage h2 {
        margin-top: 60px !important; 
    }
    #fullpage .project-list .card {
        margin-bottom: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.22);
        border: none;
        border-radius: 0;
    }
    #fullpage .project-list .card h2 {
        margin: 0px !important;  
        font-size: 12px;
        font-weight: 600;
        padding: 10px;
    }
    #fullpage .project-list {
        position: absolute;
        bottom: 0;
        z-index: 1;
        right: 33px;
        width: 80%;
        left: 10%;
    }
    #fullpage section.main-banner {
        height: 100vh !important;
        margin-top: 0 !important;
    }
}
.main-banner.domain-works {
    background: url("../images/solar_panel.jpg") center;
    background-size: cover;
}

.secondPage .main-banner.domain-works {
    background: url("../images/drone.jpg") center;
    background-size: cover;
}
.thirdPage .main-banner.domain-works {
    background: url("../images/dream.jpg") center;
    background-size: cover;
}

.fourthPage .main-banner.domain-works {
    background: url("../images/dirtyhands.jpg") center;
    background-size: cover;
}
#myMenu {
    position: fixed;
    z-index: 1051;
    font-size: 30px;
    list-style: none;
    padding: 0;
    left: 50px;
    top: 210px;
}
#fullpage .project-list .container {
    width: 60%;
}
#myMenu li {
    position: relative;   
}
.map-location {
    position: absolute;
    bottom: 40%;
    left: 20%;
}
.map-location.australia {
    left: initial;
    bottom: 20%;
    right: 10%;
}
.map-location.india {
    left: 70%;
    bottom: 35%;
}
.map-location.russia {
    left: 65%;
    bottom: 47%;
}
.map-location span {
    background: #fff;
    padding: 4px 10px;
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.38);
    font-weight: 500;
    border-radius: 4px;
    position: absolute;
    top: -38px;
    left: -8px;
    display: none;
}
.map-location:hover span {
    display: block;
}
.map-location img {
    margin: 0 !important;
    display: none;
}
#myMenu li:not(:first-of-type):before {
    content: "";
    position: absolute;
    top: 10px;
    width: 60px;
    height: 2px;
    transition: 0.5s ease all;    
    background: #ccc;
}
#myMenu li:hover:before {
    width: 80px;
}
#myMenu li.active a {
    color: #ccc !important;
    font-weight: bold;
    transition: 0.5s ease all;    
}
/*---- Domain works Banner ------*/


.main-banner.detail-1 {
    background: url("../images/consumerelectronics.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.img-row img {
    margin-right: 5px;
    cursor: pointer;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.22); */
    width: 150px;
    height: 150px;
    background: #efefef;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;

}

.description-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 70px;
    left: 0;
}
.owl-next {
    float: right;
}
.owl-carousel .owl-item img {
    height: 120px;
}
.our-clients .owl-carousel .owl-item img {
    padding: 50px;
    object-fit: contain;
    object-position: center;
    height: auto;
}
.main-story img {
    height: 350px;
    width: 100%;
    border-radius: 5px;
}

.our-clients .owl-nav {
    width: calc(100% - 16px);
    left: 8px;
}
.our-clients .owl-nav span {
    background: #fff;
    padding: 10px;
}
.main-story .content:before {
    content: "";
    position: absolute;
    background: #2196F3;
    width: calc(100% + 50px);
    height: 100%;
    z-index: -1;
    color: #fff;
    left: -50px;
    top: 0px;
    border-radius: 5px;
}
.main-story .content.right:before {
    left: 0;
    background: #FF9800;
}
.content-story p{
    color:#fff;
}

.main-story .content {
    min-height: 400px;
}

.our-story .card {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    line-height: 30px;
}

.sidenav {
    position: fixed;
    z-index: 99999;
    right: -0;
    width: 350px;
    background: #FFA500;
    height: calc(100% - 72px);
    padding: 105px 5px 5px 30px;
    top: 72px;
    transform: translate(500px);
    transition: 0.5s ease all;
}
.sidenav.active {
    transform: translate(0px);
    transition: 0.5s ease all;
}


.sidenav ul {
    list-style: none;
    padding: 0;
}
.sidenav .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.sidenav a {
    text-decoration: none;
    color: #000;
}
#myMenu a {
    font-size: 14px;
    color: #e4e4e4;
    line-height: 60px;
    text-decoration: none;
}
.sidenav ul:nth-of-type(1) {
    font-size: 20px;
    line-height: 40px;
}

.sidenav p {
    /* float: right; */
    margin-left: 154px;
    width: 140px;
    margin-right: 20px;
    margin-top: 50px;
}

.sidenav .btn {
    background: transparent;
    border: 1px solid #fff;
    float: right;
    margin-right: 20px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0;
}

.sidenav .social {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.sidenav .social li {
        display: inline-block;
        padding-left: 20px;
    }

    .main-banner-contact {
        margin-top: 100px;
        height: 80vh;
    }
    .main-banner-contact > .container {
        background: url(../images/BetterWorld.jpg);
        height: 80vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .talk-to-us {
        width: 80%;
        background-color: #fff;
        position: absolute;
        left: 10%;
        padding: 30px 100px;
        top: 80%;
        line-height: 30px;
        height: 300px;
        overflow: hidden;
    }
    .talk-to-us p {
        width: 50%;
        margin: 0 auto;
    }

    .get-touch .container > div{
        width: 80%;
        margin: 0 auto;
        background: #FAFBFE;
        margin-top: 250px;
        padding: 40px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    }

    .get-touch ul {
        margin: 0;
        list-style: none;
        display: table;
        padding: 0;
        width: 100%;
    }

    .get-touch li {
        display: table-cell;

    }
    .get-touch input[type='radio'] {
        visibility: hidden;
    }
    .get-touch input[type='radio'] + label {
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
        margin: 0;
        margin-right: 5px;
    }
    .get-touch input[type='radio'] + label:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }
    .get-touch input[type='radio'] + label:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border: 1px solid #000;
        border-radius: 50%;
    }

    .get-touch input[type='radio']:checked + label:before {
        background: #000;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 5px 12px;
        height: 40px;
        border: 1px solid #e6e6e6;
        margin-bottom: 20px;
    }

    ::-webkit-input-placeholder {
        color: #e6e6e6;
    }

    :-moz-placeholder {
        color: #e6e6e6;
    }
    textarea.form-control {
        height: 200px;
        resize: none;
    }

    .get-touch button , .get-touch .attach-a-file {
        width: calc(50% - 30px);
        float: left;
        background-color: #000;
        color: #fff;
        height: 38px;
        margin: 0;
        border-radius: 0;
    }
    .get-touch button {
        background: #FFA500;
        margin-right: 60px;
    }
    .get-touch .attach-a-file input{
        visibility: hidden;
    }
    .attach-a-file label {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        line-height: 38px;
        top: 0
    }
.get-touch p {
    margin-top: 15px;
    color: #909090;
}
.contact-us-map .container >div {
    width: 80%;
    margin: 0 auto;
    margin: 100px auto ;
}
.contact-us-map .address {
    position: absolute;
    background: #FFA500;
    width: 50%;
    left: 100px;
    top: -50px;
    color: #fff;
}
.contact-us-map .address h1 {
    background: #E88E0C;
    padding: 30px 60px;
    font-size: 24px;
    font-weight: bold;
}
.contact-us-map p {
    padding: 0 100px;
    margin: 0;    
    font-weight: bold;
}
.contact-us-map p:first-of-type {
    margin-top: 50px;
}


.contact-us-map .email, .contact-us-map .phone {

    line-height: 40px;
}

.contact-us-map .line {
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 60%;
    margin: 20px auto 75px;
}

.our-clients h4 {
    font-size: 1.2rem;
}
.our-clients img {
    width: 200px;
    display: block;
    margin: 20px auto;
}
.testimonials {
    margin: 50px 0;
}
.testimonials h4 {
    margin: 30px 0px;
    font-size: 1.2rem;
}
.testimonials img {
    margin: 100px 0 0;
}
.testimonials .clients {
     /* position: absolute; */
    /* width: 20%; */
    /* top: 200px; */
    text-align: center;
    /* margin-left: 10%; */
    color: #fff;
    line-height: 36px;
    /* display: inline-block */
    /* float: left; */
    min-height: 350px;
}
.testimonials .clients img {
    width: 125px;
    margin: 0% auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    height: 125px;
    display: block;
}
.testimonials .owl-nav {
    top: 50px;
}
.testimonials .owl-nav span {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 10px;
}
/* .testimonials .clients:nth-of-type(2) {
    margin-left: 40%;
}

.testimonials .clients:nth-of-type(3) {
    margin-left: 70%
} */
.testimonials .clients:hover {
    background: #FFA500;
    padding: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    top: 60px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.testimonials .clients .description {
    display: none;
}
.testimonials .clients:hover .description {
    display: block;
}
a, a:hover {
    text-decoration: none;
    color: #000;
}
.our-innovations .owl-item {
    padding: 5px;
}
.technology-updates .owl-nav span {
    display: block;
padding: 10px 10px 15px;
font-size: 36px;
background: #fff;
}

.technology-updates .owl-nav {
    width: calc(100% - 16px);
    font-size: 70px;
    left: 8px;
}
@media (max-width:768px) {
    #our-innovations {
        display: none;
    }
    section.project-list h2 {
        font-size: 20px;
    }
    section.project-list .owl-nav {
        top: 25%;
    }
    section.project-list .card-body {
        display: block !important;
    }
    .domain-work .our-domain-img.solar-panel {
        height: 15rem;
    }
    .our-innovations .owl-item {
        padding: 0px;
    }
    .map-location {
        display: none;
    }
    footer .social-links {
        text-align: center;
    }
    .our-innovations .owl-nav  {
        bottom: initial;
    }
    .our-innovations .owl-prev, .our-innovations .owl-next {
        left: initial;
        background: rgba(255, 255, 255, 0.55) !Important;
        
    }
    .our-innovations .owl-next {
        right: 0
    }
    .main-banner .statistics {
        bottom: 2rem;
        right: 0;
    }
    .domain-work .col-12 {
        margin-bottom: 5px;
        padding: 0 !important;
    }
    .domain-work .row {
        margin: 0 !important;
    }
    .testimonials .clients:hover {
        background: #ffffff;
        border-radius: 0px;
    }
    .project-list .card {
        margin-bottom: 20px;
    }
    .sidenav {
        width: 100%;
        top: 0;
        height: 100%;
    }
    .testimonials .clients .description {
        display: block;
    }
    .mobile-100 {
        width: 100% !important;
    }
    .get-touch li input {
        position: absolute;
    }
    .get-touch li, .get-touch ul {
        display: block
    }
    .testimonials .clients {
        background: #fff;
        width: 100%;
        position: static;
        padding: 20px;
        color: #000;
        margin-left: 0 !important;
    }
    .main-banner.domain-works {
        padding: 10px !important;
    }
    .talk-to-us {
        position: relative;
        height: auto;
        padding: 20px 20px;
        width: 100%;
        left: 0;
    }
    .contact-us-map .address {
        position: relative;
        position: relative;
        width: 100%;
        left: 0;
        top: 0
    }
    .contact-us-map p {
        padding:0 20px ;
    }
    .talk-to-us p {
        width: 100%;
    }
    .get-touch .container > div {
        width: 100%;
    }
    #myMenu {
        display: none;
    }
    #fullpage .project-list .container {
        width: 100%;
    }
    .main-story .content.right:before {
        left: 0;
        background: #FF9800;
        width: 100%;
    }
    .get-touch button, .get-touch .attach-a-file {
        width: 100%;
        margin: 10px 0;
    }
}
#map {
    width: 100%;
    height: 600px;
}
.modal-custom.active {
    display: block;
}
.modal-custom {
    z-index: 9999;
    display: none;
    top: 100px;
    padding: 30px 60px;
    background: #fff;
    position: fixed;
    left: 100px;
    height: calc(100% - 200px);
    overflow: auto;
    width: calc(100% - 200px);
    z-index: 99999;
}
body.modal-custom-body:before {
    content: "";
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999;
}
#myMenu li a{
    visibility: hidden;
}
#myMenu li.active a {
    visibility: visible;
}
.modal-custom h4 {
    font-size: 14px;
}
.modal-custom .owl-carousel > div {
    padding: 30px;
}
.modal-custom .close-modal {
    position: fixed;
    top: 80px;
    right: 90px;
    color: #000;
    text-decoration: none;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 7px;
    font-size: 22px;
}
.modal-custom .owl-carousel .owl-nav {
    top: 200px;
    color: #fff;
    left: 15px;
}
.modal-custom img {
    height: 300px !important;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
footer .contact i {
    font-size: 30px;
}
.back-button{
    font-size: 30px !important;
    color: #fff;
    text-decoration: none;
}

a.fixed-button {
    position: fixed;
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.31);
    right: 30px;
    bottom: 30px;
    z-index: 99999;
}

a.fixed-button i{   
 font-size: 40px;
 color: #FFA500;
 margin-top: 12px;
}

.technology-input {
    margin-top: 40px;
}

ul#myMenu li:hover a {
    font-weight: bold;
}
.project-list .owl-next span, .project-list .owl-prev span {
    background: rgba(255, 255, 255, 0.63);
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}

.project-list .owl-next {
    margin-right: 9px;
}

.project-list img {
    /* height: auto !important; */
}
.project-list .owl-prev {
    margin-left: 9px;
}

.not-found {
    text-align: center;
    margin-top: 150px;
    color: #828282;
}

.not-found i {
    color: #ddd;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 150px;
}

.footer-404 {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    padding-top: 40px;
}

@media(max-width:767px) {
    .modal-custom {
        z-index: 9999;
        display: none;
        top: 10px;
        padding: 30px 0px;
        background: #fff;
        position: fixed;
        left: 10px;
        height: calc(100% - 20px);
        overflow: auto;
        width: calc(100% - 20px);
        z-index: 99999;
    }
    .modal-custom .close-modal {
        top: 0px;
        right: 0px;
    }
    .modal-custom .owl-carousel > div {
        padding: 0;
    }
    .modal-custom .owl-carousel .owl-nav {
        left: 0;
    }
}

@media(min-width: 768px) {
    .owl-nav {
        width: calc(100% + 50px) !important;
        font-size: 70px !important;
        left: -25px !important;
    }
    .owl-nav button span {
        background: #000 !important;
        color: #fff !important;
        display: block !important;
        padding: 10px 10px 15px !important;
        font-size: 36px !important;
    }
}


body img {
    max-width: 100%;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}