body {
    font-size: 14px;
    background: #FAFBFE;
    line-height: 1.5rem;
}
/*----- Navbar Css -----*/
.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.21);
    min-height: 4.5rem;
    z-index: 9999;
}
/*----- Navbar Css -----*/

/*----- Main Banner Css -----*/
section.main-banner {
    height: calc(100vh - 5.5rem);
    background: url("./../images/iot.jpg");
    margin-top: 6rem;
    color: #fff;
}


.main-banner .statistics {
    bottom: 10rem;
    right: 5rem;
    width: 50vw;
}

.main-banner .statistics h3 {
    display: inline-block;
    font-size: 1.5rem;
}
/*----- Main Banner Css -----*/
/*----- Our Innovations Css -----*/
.our-innovations {
    font-size: 1rem;
    line-height: 1.75rem;
}

.our-innovations .products {
    height: 80vh;
    background: #f1f1f1;
}
.our-innovations li > .row {
    min-height: 80vh;
}
.our-innovations ul {
    list-style: none;
    padding: 0;
}

.our-innovations .card {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.28);
    border: none;
    border-radius: 0;
}

.our-innovations .date {
    font-size: 0.8rem;
}
/*----- Our Innovations Css -----*/
/*----- Project List -----*/

.project-list {
    line-height: 1.3rem;
    font-size: 0.850rem;
}

.project-list img {
    height: 10rem;
}
/*----- Project List -----*/
/*----- Domain Work -----*/

.domain-work .our-domain-img  {
    height: 15rem;
    color: #fff;
    background: #ccc;;
}

.domain-work h4 {
    font-size: 1.2rem;
}

.domain-work .our-domain-img.solar-panel {
    height: 31rem;
    background: url("../images/solar_panel.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}
.domain-work .energy {
    background: url("../images/windmills.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}

.domain-work .home-building {
    background: url("../images/HomeBuildingAutomation.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}

.domain-work .connectivity {
    background: url("../images/iot.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}

.domain-work .consumer-electronics {
    background: url("../images/consumerelectronics.jpg") center;
    -webkit-background-size: cover;
    background-size: cover;
}
/*----- Domain Work -----*/
/*----- Technology Updates -----*/

.technology-updates h4 {
    font-size: 1.2rem;
}
.technology-updates input {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
    border: none;
    margin-right: 5px;
    font-size: 0.875rem;
}

.technology-updates button {
    background: #FFA500;
    color: #fff;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}
.technology-updates .card {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    border-radius: 0;
    line-height: 1.75rem;

}
.technology-updates hr {
    border: 1px solid #ccc;
}
.technology-updates .card:hover {
    background: linear-gradient(0deg,rgba(33,150,243,0.7),rgba(33, 150, 243, 0.7)),url(../images/iot.jpg);
    color: #fff;
}
/*----- Technology Updates -----*/

/*---- Footer Css -----*/
footer ul {
    list-style: none;
}
footer h1 {
    font-size: 1.5rem;
}
footer a {
    color: #8e8e8e;
}
footer a:hover {
    color: #000;
    text-decoration: none;
}
footer .contact {
    color: #8e8e8e;
}
footer .social-links a {
    width: 30px;
    height: 30px;
    background: #efefef;
}
footer .social-links a:hover {
    background: #3979F3;
    color: #fff;
}
/*---- Footer Css -----*/

/*---- Domain works Banner ------*/
.main-banner.domain-works {
    height: 75vh;
}
.fp-tableCell {
    vertical-align: initial;
}

.main-banner.domain-works {
    background: url("../images/solar_panel.jpg") center;
    background-size: cover;
}

#secondPage .main-banner.domain-works {
    background: url("../images/drone.jpg") center;
    background-size: cover;
}
#thirdPage .main-banner.domain-works {
    background: url("../images/solar_panel.jpg") center;
    background-size: cover;
}

#fourthPage .main-banner.domain-works {
    background: url("../images/drone.jpg") center;
    background-size: cover;
}
#myMenu {
    position: fixed;
    z-index: 1051;
    font-size: 30px;
    line-height: 80px;
    list-style: none;
    padding: 0;
    left: 50px;
    top: 120px;
}
/*---- Domain works Banner ------*/


.main-banner.detail-1 {
    background: url("../images/consumerelectronics.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.img-row img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.description-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 70px;
    left: 0;
}
.owl-next {
    float: right;
}
.owl-carousel .owl-item img {
    height: 120px;
}

.main-story img {
    height: 350px;
    width: 100%;
    border-radius: 5px;
}
.main-story .content:before {
    content: "";
    position: absolute;
    background: #2196F3;
    width: calc(100% + 50px);
    height: 100%;
    z-index: -1;
    color: #fff;
    left: -50px;
    top: 0px;
    border-radius: 5px;
}
.main-story .content.right:before {
    left: 0;
    background: #FF9800;
}
.content-story p{
    color:#fff;
}

.main-story .content {
    height: 400px;
}

.our-story .card {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    line-height: 30px;
}

.sidenav {
    position: fixed;
    z-index: 99999;
    right: -0;
    width: 350px;
    background: #FFA500;
    height: calc(100% - 72px);
    padding: 105px 5px 5px 30px;
    top: 72px;
}
.sidenav {
    display: none;
}
.sidenav.active {
    display: block;
}
.sidenav ul {
    list-style: none;
    padding: 0;
}
.sidenav .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.sidenav a {
    text-decoration: none;
    color: #000;
}

.sidenav ul:nth-of-type(1) {
    font-size: 20px;
    line-height: 40px;
}

.sidenav p {
    float: right;
    width: 140px;
    margin-right: 20px;
    margin-top: 50px;
}

.sidenav button {
    background: transparent;
    border: 1px solid #fff;
    float: right;
    margin-right: 20px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0;
}

.sidenav .social {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.sidenav .social li {
        display: inline-block;
        padding-left: 20px;
    }

    .main-banner-contact {
        margin-top: 100px;
        height: 80vh;
    }
    .main-banner-contact > .container {
        background: url(../images/BetterWorld.jpg);
        height: 80vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .talk-to-us {
        width: 80%;
        background-color: #fff;
        position: absolute;
        left: 10%;
        padding: 30px 100px;
        top: 80%;
        line-height: 30px;
        height: 300px;
        overflow: hidden;
    }
    .talk-to-us p {
        width: 50%;
        margin: 0 auto;
    }

    .get-touch .container > div{
        width: 80%;
        margin: 0 auto;
        background: #FAFBFE;
        margin-top: 250px;
        padding: 40px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    }

    .get-touch ul {
        margin: 0;
        list-style: none;
        display: table;
        padding: 0;
        width: 100%;
    }

    .get-touch li {
        display: table-cell;

    }
    .get-touch input[type='radio'] {
        visibility: hidden;
    }
    .get-touch input[type='radio'] + label {
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
        margin: 0;
        margin-right: 5px;
    }
    .get-touch input[type='radio'] + label:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }
    .get-touch input[type='radio'] + label:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border: 1px solid #000;
        border-radius: 50%;
    }

    .get-touch input[type='radio']:checked + label:before {
        background: #000;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 5px 12px;
        height: 40px;
        border: 1px solid #e6e6e6;
        margin-bottom: 20px;
    }

    ::-webkit-input-placeholder {
        color: #e6e6e6;
    }

    :-moz-placeholder {
        color: #e6e6e6;
    }
    textarea.form-control {
        height: 200px;
        resize: none;
    }

    .get-touch button , .get-touch .attach-a-file {
        width: calc(50% - 30px);
        float: left;
        background-color: #000;
        color: #fff;
        height: 38px;
        margin: 0;
        border-radius: 0;
    }
    .get-touch button {
        background: #FFA500;
        margin-right: 60px;
    }
    .get-touch .attach-a-file input{
        visibility: hidden;
    }
    .attach-a-file label {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        line-height: 38px;
    }
.get-touch p {
    margin-top: 15px;
    color: #909090;
}
.contact-us-map .container >div {
    width: 80%;
    margin: 0 auto;
    margin: 100px auto ;
}
.contact-us-map .address {
    position: absolute;
    background: #FFA500;
    width: 50%;
    left: 100px;
    top: -50px;
    color: #fff;
}
.contact-us-map .address h1 {
    background: #E88E0C;
    padding: 30px 60px;
    font-size: 24px;
    font-weight: bold;
}
.contact-us-map p {
    padding: 0 100px;
    margin: 0;    
    font-weight: bold;
}
.contact-us-map p:first-of-type {
    margin-top: 50px;
}


.contact-us-map .email, .contact-us-map .phone {

    line-height: 40px;
}

.contact-us-map .line {
    border-bottom: 1px solid #fff;
    height: 1px;
    width: 60%;
    margin: 20px auto 75px;
}

.our-clients h4 {
    font-size: 1.2rem;
}
.our-clients img {
    width: 200px;
    display: block;
    margin: 20px auto;
}
.testimonials {
    margin: 50px 0;
}
.testimonials h4 {
    margin: 30px 0px;
    font-size: 1.2rem;
}
.testimonials img {
    margin: 100px 0 0;
}
.testimonials .clients {
    position: absolute;
    width: 20%;
    top: 200px;
    text-align: center;
    left: 10%;
    color: #fff;
    line-height: 36px;
}
.testimonials .clients img {
    width: 100px;
    margin: 0%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    height: 100px;
}
.testimonials .clients:nth-of-type(2) {
    left: 40%;
}

.testimonials .clients:nth-of-type(3) {
    left: 70%
}
.testimonials .clients:hover {
    background: #FFA500;
    padding: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    top: 60px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.testimonials .clients .description {
    display: none;
}
.testimonials .clients:hover .description {
    display: block;
}
@media (max-width:768px) {
    .testimonials .clients .description {
        display: block;
    }
    .testimonials .clients {
        background: #FF9800;
        width: 100%;
        position: static;
        padding: 20px;
        left: 0 !important;
    }
    .talk-to-us {
        position: relative;
        height: auto;
        padding: 20px 20px;
        width: 100%;
        left: 0;
    }
    .contact-us-map .address {
        position: relative;
        position: relative;
        width: 100%;
        left: 0;
        top: 0
    }
    .contact-us-map p {
        padding:0 20px ;
    }
    .talk-to-us p {
        width: 100%;
    }
    .get-touch .container > div {
        width: 100%;
    }
}